/* Reset de margens e preenchimentos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos para o menu de navegação */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo h1 {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f8b400;
}

/* Estilos para o rodapé */
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.footer-content {
    text-align: center;
}

.footer-content p {
    color: #333;
}
